---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
	<body id="content">
        <Header page="about" />
		<main>
			<h1>About page</h1>
			<p>
				Hi, my name is Maciek Palmowski and I work at Kinsta.
			</p>
			
		</main>
        <Footer />
	</body>
</html>
