---
import Layout from '../layouts/layout.astro';
---
<Layout title="About">
	<main class="prose lg:prose-xl p-7">
		<h1 class="text-kinsta-violet-dark">About page</h1>
		<img src="./about.svg" alt="">
		<p>
			Hi, my name is Maciek Palmowski and I work at Kinsta.
		</p>
		
	</main>
</Layout>
