---
const { pageTitle = "Default title" } = Astro.props;
---
<header>
    <h2>
        { pageTitle }
    </h2>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </nav>
</header>