---
const { post } = Astro.props;
---
        <a href={post.url} class="ease-in duration-300 py-5 px-7 bg-white drop-shadow-[0_4px_4px_rgba(0,0,0,0.04)] rounded-[20px] hover:bg-kinsta-violet hover:text-white">{post.frontmatter.title}</a>