---
import Layout from '../layouts/layout.astro';

const {frontmatter} = Astro.props;
---
<Layout title={ frontmatter.title }>
	<main class="prose prose-xl">
		<h1>{ frontmatter.title }</h1>

		{frontmatter.image && (
			<img
				width={720}
				height={360}
				src={frontmatter.image}
				alt=""
			/>
		)}

		<slot />

		Author: { frontmatter.author }<br/>
		Published on: {new Date(frontmatter.date).toLocaleDateString('en-GB')}

		<ul>
		{ frontmatter.tags.map( tag => <li>{ tag }</li> ) }
		</ul>
	</main>
</Layout>
